@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Fjalla+One');

body,html{
    width: 70%;
    margin-left:15%;
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: lightyellow;

}

.title{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: lightcoral;
    
}

h1{
    font-family: "Fjalla One", sans-serif;
    color:crimson
    
}
p{
    font-family: 'Archivo Narrow', sans-serif;
}
h2{
   font-family: 'Archivo Narrow', sans-serif;
   
}
.box{
    background-color: darkseagreen;
    height: 30px;
    grid-column-start: 1;
    grid-column-end: 4;
}
