.blue{
  color: blue;
  font-size: 100px;
}

.red{
  color:red;
  font-size: 50px;
}

.yellow{
  color:yellow;
  font-size: 200px;

    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 4s linear;
}

.green{
  color:green;
  font-size: 80px;
}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}
}
